.header2 {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 100;
}
.left2 {
  object-fit: cover;
  display: flex;
  height: 100%;
}
.right2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.icon2 {
  filter: invert(100%);
  height: 100%;
  object-fit: contain;
  margin: 0 10px 0 10px;
}
.langSelectForH2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logSelectForH2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.langForH2 {
  color: #80acf5;
  text-wrap: nowrap;
}
.logForH2 {
  color: #80acf5;
  text-wrap: nowrap;
}
.search {
  height: 60px;
  text-wrap: nowrap;
  background-color: #292929;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.searchContainer {
  color: rgb(255, 255, 255);
  font-weight: 600;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: #292929;
}
.searchR {
  margin-left: 20px;
  height: 40px;
  background-color: #121212;
  border-color: white;
  border-radius: 2px;
}

.x {
  width: 40px;
}
.searchContainerHe {
  background-color: #80acf5;
  color: rgb(255, 255, 255);
  font-weight: 600;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  background-color: #4a6da7;
}
